/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 25, 2021, 4:16:21 PM
    Author     : alex
*/
.navbar .nav-link {
    color: #fff !important;
}
.arg-top-navbar {
    transition: all 0.5s;
}
/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.carousel-item:nth-child(1) {
    background-image: url('/assets/img/intro/catalog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.carousel-item:nth-child(2) {
    background-image: url('/assets/img/intro/discount.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.carousel-item:nth-child(3) {
    background-image: url('/assets/img/intro/delivery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 992px) {
    #introCarousel {
        margin-top: -58.59px;
    }
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
        height: 50vh;
    }
}

@media (max-width: 992px) {
    #introCarousel:not([data-expanded="true"]) {
        margin-top: -58.59px;
    }
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
        height: 100vh;
    }
    nav[data-expanded="true"] {
        background-color: #00000085;
    }
}

#products-search-results-list, #agr-quick-search-result-mobile {
    padding: 0;
    margin-top: 0px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 9999;
    width: 100%;
}
#products-search-results-list h6, #agr-quick-search-result-mobile h6 {
    max-width: 400px;
    white-space: pre-line;
    font-size: .9rem;
}
#products-search-results-list .text-muted, #agr-quick-search-result-mobile .text-muted {
    font-size: .8rem;
}
#products-search-results-list .highlighted-text, #agr-quick-search-result-mobile .highlighted-text {
    color: var(--bs-purple);
    background-color: rgba(121,82,179,.07);
}
#products-search:focus, #agr-quick-search-input-mobile:focus {
    color: var(--bs-purple);
    border-color: white;
    box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}
.agr-card-image {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 0;
    padding-top: 100%;
}
.agr-bg-dark {
    background-color: #00000085;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.agr-cart-badge {
    position: absolute !important;
    top: -12px !important;
    left: -16px;
}

